body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F4F6;
}

.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
  color: #000;
}